//variables
@white: #FFF;

@nonMetals: #FFEE8C;
@alkaliMetals: #B7E4F3;
@alkalineEarth: #DFBF94;
@transitionMetals: #A9FFA9;
@halogens: #89A3FF;
@nobleGases: #FFC3A3;
@metalloids: #FF6464;
@postTransMetals: #D6DFFF;
@lanthanides: #99FFE1;
@actinides: #C8C0FF;

.non-metal { background-color: @nonMetals; }
.alkali-metal { background-color: @alkaliMetals;}
.alkaline-earth {background-color: @alkalineEarth;
}
.halogen { background-color: @halogens;}
.noble-gas { background-color: @nobleGases; }
.metalloid { background-color: @metalloids; }
.trans-metal { background-color: @transitionMetals;
}
.post-trans-metal {
  background-color: @postTransMetals;
}
.lanth {
  background-color: @lanthanides;
}
.act {
  background-color: @actinides;
}

body {
  font-family: 'PT Sans', sans-serif;
}

.wrapper {
  padding: 10px;
  margin-top: 25px;
  background-color: @white;
}

.rowp {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
  width: 850px;
  margin-bottom: 7px
}

.el {
  flex-grow: 1;
  max-width: 40px;
  max-height: 65px;
  width: 40px;
  height: 65px;
  text-align: center;
}

#series .rowp {
  width: 800PX
}

#series .rowp:first-child .el {
  background-color: @lanthanides;
}

#series .rowp:last-child .el {
  background-color: @actinides;
}

#series label {
  width: 75px;
  padding: 10px
}

.space {
  background-color: @white;
}

.el span {
  display: block;
  width: 100%;
}

.el span:nth-child(1) {
  font-size: 12px;
}

.el span:nth-child(2) {
  font-size: 1.25em;
}

.el span:nth-child(3) {
  font-size: 0.85em;
}

#legend {
  margin-top: 25px;
  width: 625px;
  height: 205px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#legend .item {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin: 2px;
  flex-grow: 0;
  width: 260px;
  height: 35px;
  font-size: 1.3em;
}

.item span {
  display: inline-block;
  width: 35px;
  height: 35px;
}

.item p {
  position: relative;
  bottom: 15px;
  height: 100%;
  padding-left: 20px;
}

