.non-metal {
  background-color: #ffee8c;
}
.alkali-metal {
  background-color: #b7e4f3;
}
.alkaline-earth {
  background-color: #dfbf94;
}
.halogen {
  background-color: #89a3ff;
}
.noble-gas {
  background-color: #ffc3a3;
}
.metalloid {
  background-color: #ff6464;
}
.trans-metal {
  background-color: #a9ffa9;
}
.post-trans-metal {
  background-color: #d6dfff;
}
.lanth {
  background-color: #99ffe1;
}
.act {
  background-color: #c8c0ff;
}
body {
  font-family: 'PT Sans', sans-serif;
}
.wrapper {
  padding: 10px;
  margin-top: 25px;
  background-color: #ffffff;
}
.rowp {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
  width: 850px;
  margin-bottom: 7px;
}
.el {
  flex-grow: 1;
  max-width: 40px;
  max-height: 65px;
  width: 40px;
  height: 65px;
  text-align: center;
}
#series .rowp {
  width: 800PX;
}
#series .rowp:first-child .el {
  background-color: #99ffe1;
}
#series .rowp:last-child .el {
  background-color: #c8c0ff;
}
#series label {
  width: 75px;
  padding: 10px;
}
.space {
  background-color: #ffffff;
}
.el span {
  display: block;
  width: 100%;
}
.el span:nth-child(1) {
  font-size: 12px;
}
.el span:nth-child(2) {
  font-size: 1.25em;
}
.el span:nth-child(3) {
  font-size: 0.85em;
}
#legend {
  margin-top: 25px;
  width: 625px;
  height: 205px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#legend .item {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin: 2px;
  flex-grow: 0;
  width: 260px;
  height: 35px;
  font-size: 1.3em;
}
.item span {
  display: inline-block;
  width: 35px;
  height: 35px;
}
.item p {
  position: relative;
  bottom: 15px;
  height: 100%;
  padding-left: 20px;
}
